.h2-title {
    margin: 20px;
}

.todo-input {
    display: flex;
    margin-left: 15px;
    margin-right: 15px;
    flex-direction: column;
}
  
.todo-input > * {
width: 100%;
}

.add-icon {
    cursor: pointer;
}

.checkbox-section {
    margin-left : 20px;
    margin-top: 5px;
    margin-bottom: 5px;
    display: flex;
    align-content: center;
    align-items: center;
}
  
.checkbox-margin {
    margin: 10px;
}

.crossedOut {
    text-decoration: line-through;
  }